home/papreindex/App_WebReferences/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfPaperDemo" />
  <xs:element name="Getpapers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auther" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetpapersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfPaperDemo" minOccurs="0" name="GetpapersResult" nillable="true" type="q1:ArrayOfPaper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scorepapersbyyear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auther" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scorepapersbyyearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scorepapersbyyearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scorepapersbyorder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scorepapersbyorderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scorepapersbyorderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scorepapersbyjournalclass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scorepapersbyjournalclassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scorepapersbyjournalclassResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countpaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countpaperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countpaperResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>