home/papreindex/App_WebReferences/ServiceReference1/WcfPaperDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfPaperDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfPaperDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPaper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paper" nillable="true" type="tns:Paper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaper" nillable="true" type="tns:ArrayOfPaper" />
  <xs:complexType name="Paper">
    <xs:sequence>
      <xs:element minOccurs="0" name="paperId" type="xs:int" />
      <xs:element minOccurs="0" name="papTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jouTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="issunumber" type="xs:int" />
      <xs:element minOccurs="0" name="volumenumber" type="xs:int" />
      <xs:element minOccurs="0" name="NumoFAuther" type="xs:int" />
      <xs:element minOccurs="0" name="Authers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstPagePaper" type="xs:int" />
      <xs:element minOccurs="0" name="LastpagePaper" type="xs:int" />
      <xs:element minOccurs="0" name="abstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Yearofpub" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paper" nillable="true" type="tns:Paper" />
</xs:schema>